.padding-40{
    padding: 40px 0 40px 0;
}

.wrapper-padding{
    padding: 40px 20px 40px 20px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-40{
    margin-top: 40px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-top-60{
    margin-top: 60px;
}
.min-width-250{
    min-width: 250px;
}
.min-height-200{
    min-height: 200px;
}
.min-height-150{
    min-height: 150px;
}
.min-height-250{
    min-height: 250px;
}
.margin-bottom-40{
    margin-bottom: 40px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}.margin-bottom-20{
    margin-bottom: 20px;
}
.fade.in {
    opacity: 1;
}
.padding-bottom-30 {
    padding-bottom: 30px;
}
.note-editor .note-toolbar.panel-heading {
    background-color: #eee;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px !important;
    color: #444 !important;
    font-size: 14px!important;
    line-height: 24px !important;
    padding: 3px 10px !important;
    border-radius: 3px !important;
    border: 1px solid #e2e2e2 !important;
}
.bootstrap-tagsinput {
    line-height: 32px !important;
    display: block !important;
}

.sidebar-header {
    background: #ffffff ;
}
.iconpicker .iconpicker-item {
    line-height: 14px;
}
.img-select.selected{
    border: 3px solid #007bff;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}
.img-select{
    margin-bottom: 20px;
    box-shadow: 0 0 30px 0 #eee;
    cursor: pointer;
}
.img-select.selected:after {
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 1;
    color: #fff;
    content: "\f058";
    font-size: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 30px;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    padding-left: 5px;
    padding-top: 4px;
}

.switch {
    position: relative;
    display: block;
    width: 86px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "Hide";
    height: 26px;
    width: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 26px;
}

input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    content: "Show";
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.max-height-120{
    max-height: 120px;
}
.max-height-150{
    max-height: 150px;
}

.iconpicker-popover.popover {
    z-index: 9999;
}

label {
    font-weight: 600;
}

.nice-select.wide {
    width: 100%;
    padding: 0 10px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-top-80{
    margin-top: 80px;
}
.header-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
select.form-control:not([size]):not([multiple]) {
    height: 48px !important;
}
.bulk-delete-wrapper {
    margin: 30px 0px;
}
.select-box-wrap select {
    height: 38px;
    border: none;
    position: relative;
    top: 2px;
    width: 150px;
}
.select-box-wrap select {
    border: 1px solid #e2e2e2;
}



/* popup builder style */

.nx-popup-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    content: '';
    z-index: 1;
    height: 100%;
    transition: 300ms all;
    visibility: hidden;
    opacity: 0;
}

.nx-popup-backdrop.show {
    visibility: visible;
    opacity: 1;
}
.nx-popup-wrapper.show {
    visibility: visible;
    opacity: 1;
}
.nx-popup-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}
.only-image-modal .nx-modal-inner-content-wrapper {
    width: 700px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
}
.nx-popup-wrapper.notice-modal .nx-modal-inner-content-wrapper {
    background-image: url("../images/popup/notice-popup-mike.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}
.nx-modal-inner-content-wrapper {
    width: 700px;
    background-color: #d13a74;
    padding: 40px;
    position: relative;
    background-position: center;
    height: 400px;
}
.nx-popup-wrapper.notice-modal .nx-modal-inner-content-wrapper .nx-popup-close {
    background-color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.nx-modal-inner-content-wrapper .nx-popup-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    line-height: 20px;
    color: red;
    cursor: pointer;
}
.notice-modal .nx-modal-header .title {
    display: inline-block;
    background-color: red;
    padding: 10px 20px;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.notice-modal .nx-modal-header {
    text-align: center;
    margin-bottom: 30px;
}

.notice-modal .nx-modal-content {
    text-align: center;
}

.notice-modal .nx-modal-content p {
    color: #444;
    font-size: 18px;
    line-height: 28px;
}

.notice-modal .nx-modal-content .btn-wrapper {
    margin-top: 30px;
}

.notice-modal .nx-modal-content .btn-wrapper .btn-boxed {
    display: inline-block;
    padding: 10px 30px;
    background-color: rebeccapurple;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
    transition: 300ms all;
}

.notice-modal .nx-modal-content .btn-wrapper .btn-boxed:hover {
    background-color: beige;
    color: #fff;
}

/* notice popup */

.notice-modal-content-wrapper {
    text-align: left;
}

.notice-modal-content-wrapper .right-side-content {
    max-width: 320px;
}

.nx-popup-wrapper.notice-modal .nx-modal-content {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height: 100%
}

.notice-modal-content-wrapper .right-side-content .title {
    font-size: 50px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.notice-modal-content-wrapper .right-side-content p {
    font-size: 18px;
    line-height: 34px;
    color: rgba(255,255,255,.8);
}

/* promotional popup */
.promotional-modal-content-wrapper .left-content-warp img {
    max-width: 400px;
}

.promotional-modal-content-wrapper .left-content-warp {width: 50%;margin-right: 20px;text-align: left;}

.promotional-modal-content-wrapper {
    display: flex;
    align-self: flex-start;
}

.promotional-modal-content-wrapper .right-content-warp {
    display: flex;
    align-items: center;
}

.promotional-modal-content-wrapper .right-content-warp .title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5580ff;
}

.promotional-modal-content-wrapper .right-content-warp p {
    font-size: 18px;
    line-height: 28px;
    color: #636363;
}
.promotional-modal-content-wrapper .right-content-warp .btn-boxed {
    display: inline-block;
    border: none;
    background-color: #5580ff;
    padding: 8px 30px;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
    transition: 300ms all;
}

.promotional-modal-content-wrapper .right-content-warp .btn-boxed:hover {
    background-color: #ff8a73;
    color: #fff;
}
.nx-popup-wrapper.promotion-modal .nx-modal-inner-content-wrapper {
    padding: 30px;
}
/* discount popup */
.nx-popup-wrapper.discount-modal .nx-modal-inner-content-wrapper{
    padding: 20px;
}
.nx-popup-wrapper.discount-modal {
    padding: 30px;
}

.discount-modal-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
}

.discount-modal-content-wrapper .left-content-wrap {
    width: 400px;
    margin-right: 20px;
}

.discount-modal-content-wrapper .left-content-warp {
    width: 330px;
}

.discount-modal-content-wrapper .right-content-warp {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount-modal-content-wrapper .right-content-warp .title {
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5580ff;
}

.discount-modal-content-wrapper .right-content-warp p {
    font-size: 18px;
    line-height: 28px;
    color: #656565;
}

.discount-modal-content-wrapper .right-content-warp .btn-boxed {
    display: inline-block;
    background-color: #5580ff;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 25px;
    border-radius: 5px;
    margin-top: 20px;
    transition: 300ms all;
}

.discount-modal-content-wrapper .right-content-warp .btn-boxed:hover {
    background-color: #ff8a73;
}

.discount-modal-content-wrapper #countdown {
    display: flex;
}

.discount-modal-content-wrapper .nx-singular-countdown-item {
    width: calc(100% / 4 - 10px);
    background-color: #ff8a73;
}

.discount-modal-content-wrapper .nx-singular-countdown-item + .nx-singular-countdown-item {
    margin-left: 10px;
}

.discount-modal-content-wrapper .nx-singular-countdown-item  .time {
    display: block;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    color: #fff;
    margin-bottom: 0px;
}

.discount-modal-content-wrapper .nx-singular-countdown-item {
    text-align: center;
}

.discount-modal-content-wrapper .countdown-wrapper {
    margin-top: 20px;
}
.discount-modal-content-wrapper .nx-singular-countdown-item .label   {
    display:block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 8px;
}
.alert-danger {
    border-left: 5px solid red;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 0;
}

.alert-warning {
    border-left: 5px solid #e4b82c;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 0;
}
.alert-success {
    border-left: 5px solid #319a31;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 0;
}
.alert-primary {
    border-left: 5px solid #004085;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 0;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.accordion-wrapper .card .card-header {
    padding: 0;
    border: none;
    background-color: #f3f8fb;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.accordion-wrapper .card {
    margin-bottom: 20px;
}
.accordion-wrapper .page-title {
    font-size: 18px;
    font-weight: 500;
}
.page-title {
    color: #313b3d;
    letter-spacing: 0;
    margin-right: 30px;
}
.btn-link:hover {
    text-decoration: none;
    
}
.btn-link.focus, .btn-link:focus {
    text-decoration: none;
}
.available-form-field {
	margin: 0;
	padding: 0;
	list-style: none;
}

.all-widgets.available-form-field {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.all-widgets.available-form-field li {
	width: calc(100% / 2 - 30px);
}

.available-form-field li {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
}

.available-form-field li a {
	text-transform: capitalize;
}

.available-form-field li span {
	margin-right: 10px;
	text-transform: none;
}

.available-form-field li {
	position: relative;
	z-index: 0;
}

.available-form-field li .remove-fields {
	position: absolute;
	right: 0;
	top: 8px;
	color: red;
	cursor: pointer;
}

.available-form-field.main-fields .switch {
	width: 95px;
}
.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    border-left: 5px solid #17a2b8;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 0;
}

.view-quote-details-info .title ,
.view-order-details-info .title{
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.view-quote-details-info ,
.view-order-details-info
{
    padding: 30px;
}

.view-quote-details-info .view-quote-top-wrap ,
.view-order-details-info .view-order-top-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.view-quote-details-info .view-quote-top-wrap span,
.view-order-details-info .view-order-top-wrap span{
    text-transform: capitalize;
}

.view-quote-details-info .quote-all-custom-fields,
.view-order-details-info .order-all-custom-fields{
    width: 100%;
}

.view-quote-details-info .quote-all-custom-fields .fname,
.view-order-details-info .order-all-custom-fields .fname{
    text-transform: capitalize;
    padding: 10px;
}

.view-quote-details-info .quote-all-custom-fields .fvalue,
.view-order-details-info .order-all-custom-fields .fvalue{
    padding: 10px;
}
.nx-popup-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    content: '';
    z-index: 1;
    height: 100%;
    transition: 300ms all;
    visibility: hidden;
    opacity: 0;
}

.nx-popup-backdrop.show {
    visibility: visible;
    opacity: 1;
}
.nx-popup-wrapper.show {
    visibility: visible;
    opacity: 1;
}
.nx-popup-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}
.only-image-modal .nx-modal-inner-content-wrapper {
    width: 700px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
}

.nx-popup-wrapper.notice-modal .nx-modal-inner-content-wrapper .nx-popup-close {
    background-color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.nx-modal-inner-content-wrapper .nx-popup-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    line-height: 20px;
    color: red;
    cursor: pointer;
}
.notice-modal .nx-modal-header .title {
    display: inline-block;
    background-color: red;
    padding: 10px 20px;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.notice-modal .nx-modal-header {
    text-align: center;
    margin-bottom: 30px;
}

.notice-modal .nx-modal-content {
    text-align: center;
}

.notice-modal .nx-modal-content p {
    color: #444;
    font-size: 18px;
    line-height: 28px;
}

.notice-modal .nx-modal-content .btn-wrapper {
    margin-top: 30px;
}

.notice-modal .nx-modal-content .btn-wrapper .btn-boxed {
    display: inline-block;
    padding: 10px 30px;
    background-color: rebeccapurple;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
    transition: 300ms all;
}

.notice-modal .nx-modal-content .btn-wrapper .btn-boxed:hover {
    background-color: beige;
    color: #fff;
}

/* notice popup */

.notice-modal-content-wrapper {
    text-align: left;
}

.notice-modal-content-wrapper .right-side-content {
    max-width: 320px;
}

.nx-popup-wrapper.notice-modal .nx-modal-content {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height: 100%
}

.notice-modal-content-wrapper .right-side-content .title {
    font-size: 50px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.notice-modal-content-wrapper .right-side-content p {
    font-size: 18px;
    line-height: 34px;
    color: rgba(255,255,255,.8);
}

/* promotional popup */
.promotional-modal-content-wrapper .left-content-warp img {
    max-width: 400px;
}

.promotional-modal-content-wrapper .left-content-warp {width: 50%;margin-right: 20px;text-align: left;}

.promotional-modal-content-wrapper {
    display: flex;
    align-self: flex-start;
}

.promotional-modal-content-wrapper .right-content-warp {
    display: flex;
    align-items: center;
}

.promotional-modal-content-wrapper .right-content-warp .title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5580ff;
}

.promotional-modal-content-wrapper .right-content-warp p {
    font-size: 18px;
    line-height: 28px;
    color: #636363;
}
.promotional-modal-content-wrapper .right-content-warp .btn-boxed {
    display: inline-block;
    border: none;
    background-color: #5580ff;
    padding: 8px 30px;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
    transition: 300ms all;
}

.promotional-modal-content-wrapper .right-content-warp .btn-boxed:hover {
    background-color: #ff8a73;
    color: #fff;
}
.nx-popup-wrapper.promotion-modal .nx-modal-inner-content-wrapper {
    padding: 30px;
}
/* discount popup */
.nx-popup-wrapper.discount-modal .nx-modal-inner-content-wrapper{
    padding: 20px;
}
.nx-popup-wrapper.discount-modal {
    padding: 30px;
}

.discount-modal-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
}

.discount-modal-content-wrapper .left-content-wrap {
    width: 400px;
    margin-right: 20px;
}

.discount-modal-content-wrapper .left-content-warp {
    width: 330px;
}

.discount-modal-content-wrapper .right-content-warp {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount-modal-content-wrapper .right-content-warp .title {
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5580ff;
}

.discount-modal-content-wrapper .right-content-warp p {
    font-size: 18px;
    line-height: 28px;
    color: #656565;
}

.discount-modal-content-wrapper .right-content-warp .btn-boxed {
    display: inline-block;
    background-color: #5580ff;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 25px;
    border-radius: 5px;
    margin-top: 20px;
    transition: 300ms all;
}

.discount-modal-content-wrapper .right-content-warp .btn-boxed:hover {
    background-color: #ff8a73;
}

.discount-modal-content-wrapper #countdown {
    display: flex;
}

.discount-modal-content-wrapper .nx-singular-countdown-item {
    width: calc(100% / 4 - 10px);
    background-color: #ff8a73;
}

.discount-modal-content-wrapper .nx-singular-countdown-item + .nx-singular-countdown-item {
    margin-left: 10px;
}

.discount-modal-content-wrapper .nx-singular-countdown-item  .time {
    display: block;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    color: #fff;
    margin-bottom: 0px;
}

.discount-modal-content-wrapper .nx-singular-countdown-item {
    text-align: center;
}

.discount-modal-content-wrapper .countdown-wrapper {
    margin-top: 20px;
}
.discount-modal-content-wrapper .nx-singular-countdown-item .label   {
    display:block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 8px;
}