#langchange {
    cursor: pointer;
}
.login-form-wrapper {
    margin: 100px 0;
    background-color: #fff;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    padding: 60px;
}

.account-form .form-group .form-control {
    background-color: #f4f4fd;
    border: none;
    height: 60px;
    padding: 15px 30px;
}
.w420px {
    width: 420px;
}
.w540px {
    width: 540px;
}
.cursor-pointer{
    cursor: pointer;
}
user-dashboard-wrapper>ul {
	display: inline-block;
	width: 260px;
	background-color: var(--secondary-color);
	padding-bottom: 5px
}

.user-dashboard-wrapper {
	display: flex;
	justify-content: space-between
}

.user-dashboard-wrapper .tab-content {
	width: calc(100% - 300px)
}

.user-dashboard-wrapper {
	padding: 80px 0
}

.user-dashboard-wrapper ul.nav-pills .nav-link {
	border-radius: 0;
	padding: 10px 30px
}

.user-dashboard-wrapper ul.nav-pills .nav-item+.nav-item {
	border-top: 1px solid rgba(255, 255, 255, .1)
}
.user-dashboard-wrapper>ul .mobile_nav {
	display: none
}
.user-dashboard-wrapper ul.nav-pills .nav-item+.nav-item {
	border-top: 1px solid rgba(255, 255, 255, .1)
}
.order-service-page-content-area .nav-tabs .nav-item {
	border: none;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--main-color-one);
	line-height: 50px;
	color: #fff;
	padding: 0;
	text-align: center
}
.order-service-page-content-area .nav-tabs .nav-item+.nav-item {
	margin-left: 15px
}

.order-service-page-content-area .nav-tabs .nav-item.active {
	background-color: var(--main-color-one);
	color: #fff
}

.order-service-page-content-area .nav-tabs .nav-item[disabled] {
	background-color: #e1e1e1;
	color: var(--paragraph-color)
}
.nav {
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}
.user-dashboard-wrapper>ul {
    display: inline-block;
    width: 260px;
    background-color: #1d2228;
    padding-bottom: 5px;
}
.user-dashboard-wrapper ul.nav-pills .nav-link.active {
    background-color: var(--main-color-one);
}
.user-dashboard-card.style-01 {
	background-color: var(--main-color-one)
}

.user-dashboard-card {
	background-color: var(--main-color-one);
	padding: 30px;
	display: flex;
	align-self: flex-start
}

.user-dashboard-card .icon {
	font-size: 40px;
	line-height: 40px;
	color: #fff;
	margin-right: 20px
}

.user-dashboard-card .title {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	color: #fff
}

.user-dashboard-card .number {
	font-size: 40px;
	line-height: 50px;
	font-weight: 700;
	display: block;
	color: #fff
}
a:hover {
    color: inherit;
}
.user-dahsboard-order-info-wrap .title {
	font-size: 20px;
	line-height: 30px;
	font-weight: 700
}

.user-dahsboard-order-info-wrap small {
	font-size: 14px
}
.user-dahsboard-order-info-wrap .title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}
.alert-small {
    font-size: 12px;
    font-weight: 600;
    padding: 2px 5px;
}

.alert-sm {
    padding: 5px 10px;
}
.text-capitalize {
    text-transform: capitalize!important;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.user-dahsboard-order-info-wrap small {
    font-size: 14px;
}

.d-block {
    display: block!important;
}
small {
    margin-bottom: 10px;
}
.dashboard-form-wrapper .title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
}
.order-service-page-content-area .order-title {
	font-size: 30px;
	line-height: 52px;
	font-weight: 700;
	margin-bottom: 30px
}

.order-service-page-content-area .nav-tabs {
	display: block;
	border: none
}

.order-service-page-content-area .nav-tabs .nav-item {
	border: none;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--main-color-two);
	line-height: 50px;
	color: #fff;
	padding: 0;
	text-align: center
}

.order-service-page-content-area .tab-content {
	margin-top: 30px
}

.order-service-page-content-area .nav-tabs .nav-item+.nav-item {
	margin-left: 15px
}

.order-service-page-content-area .nav-tabs .nav-item.active {
	background-color: var(--main-color-one);
	color: #fff
}

.order-service-page-content-area .nav-tabs .nav-item[disabled] {
	background-color: #e1e1e1;
	color: var(--paragraph-color)
}
.single-price-plan-01 {
	text-align: center;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
	position: relative;
	z-index: 0;
	overflow: hidden;
	background-color: #fff;
	padding: 40px 0 60px;
	-webkit-box-shadow: 0 0 7px 0 rgba(48, 55, 63, .35);
	box-shadow: 0 0 7px 0 rgba(48, 55, 63, .35)
}
.single-price-plan-01.style-02 {
	background-color: var(--main-color-one)
}
.single-price-plan-01.active .price-header .name {
	color: #fff
}

.single-price-plan-01.active .price-header .price-wrap .price {
	color: #fff
}

.single-price-plan-01.active .price-header .price-wrap .month {
	color: #fff
}

.single-price-plan-01.active .price-body ul li {
	color: #fff
}

.single-price-plan-01.active .btn-wrapper .boxed-btn {
	border: 1px solid #fff;
	background-color: transparent
}

.single-price-plan-01.active .btn-wrapper .boxed-btn:hover {
	background-color: #fff;
	color: var(--main-color-one)
}

.single-price-plan-01 .price-header {
	position: relative
}

.single-price-plan-01 .price-header .name-box .name {
	font-weight: 700;
	font-size: 24px;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in
}

.single-price-plan-01 .price-header .popular {
	position: absolute;
	top: 15px;
	right: -55px;
	display: inline-block;
	background-color: var(--main-color-one);
	padding: 10px 30px;
	width: 180px;
	-webkit-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
	color: #fff;
	text-transform: uppercase;
	font-size: 12px
}

.single-price-plan-01 .price-header .title {
	color: #fff;
	font-size: 24px;
	line-height: 36px;
	font-weight: 600;
	padding: 20px 0;
	margin-bottom: 30px;
	background-color: var(--main-color-two);
	font-family: var(--heading-font)
}

.single-price-plan-01 .price-header .price-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.single-price-plan-01 .price-header .price-wrap .price {
	font-size: 72px;
	font-family: var(--heading-font);
	line-height: 60px;
	font-weight: 700;
	color: var(--heading-color);
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
	text-align: center;
	position: relative;
	z-index: 0;
	margin-top: 20px
}

.single-price-plan-01 .price-header .price-wrap .price .dollar {
	font-size: 33px;
	line-height: 33px;
	position: relative;
	top: -12px
}

.single-price-plan-01 .price-header .price-wrap .month {
	font-size: 18px;
	line-height: 20px;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in
}

.single-price-plan-01 .price-body ul {
	margin: 0;
	padding: 0;
	margin-top: 25px;
	margin-bottom: 25px
}

.single-price-plan-01 .price-body ul li {
	list-style: none;
	display: block;
	margin: 10px 0;
	font-size: 16px;
	font-weight: 500;
	color: var(--heading-color);
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in
}

.single-price-plan-01 .price-body ul li:first-child {
	margin-top: 0
}

.single-price-plan-01 .price-body ul li:last-child {
	margin-bottom: 0
}

.single-price-plan-01 .btn-wrapper .boxed-btn {
	border: 1px solid transparent
}


.input-disabled {
    background-color: rgba(211, 211, 211, 0.507);
}
.payment-gateway-wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	margin: 20px 0
}

.payment-gateway-wrapper ul li {
	max-width: 100px;
	cursor: pointer;
	box-sizing: border-box;
	height: 50px;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden
}
.payment-gateway-wrapper ul li.selected:after,
.payment-gateway-wrapper ul li.selected:before {
	visibility: visible;
	opacity: 1
}

.payment-gateway-wrapper ul li:before {
	border: 2px solid var(--main-color-two);
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	visibility: hidden;
	opacity: 0;
	transition: all .3s
}

.payment-gateway-wrapper ul li:after {
	position: absolute;
	right: 0;
	top: 0;
	width: 15px;
	height: 15px;
	background-color: var(--main-color-two);
	content: "\f00c";
	font-weight: 900;
	color: #fff;
	font-family: "Font Awesome 5 Free";
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	padding-top: 2px;
	padding-left: 2px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s
}
.manual_payment_transaction_field.show {
	display: block
}

.manual_payment_transaction_field {
	display: none
}
.payment-gateway-wrapper ul li {
	min-width: 80px;
	margin: 5px
}

.cart-total-wrap .form-group.manual_payment_transaction_field .label,
.order-confirm-area .form-group.manual_payment_transaction_field .label,
.order-tab-wrap .form-group.manual_payment_transaction_field .label {
	font-size: 14px;
	font-weight: 600;
	color: var(--heading-color);
	margin-bottom: 10px
}

.cart-total-wrap .form-group.manual_payment_transaction_field .form-control,
.order-confirm-area .form-group.manual_payment_transaction_field .form-control,
.order-tab-wrap .form-group.manual_payment_transaction_field .form-control {
	border: 1px solid #e2e2e2;
	font-size: 14px
}

.cart-total-wrap .form-group.manual_payment_transaction_field .help-info,
.order-confirm-area.form-group.manual_payment_transaction_field .help-info,
.order-tab-wrap .form-group.manual_payment_transaction_field .help-info {
	margin-top: 20px;
	display: block
}
.payment-gateway-wrapper ul {
	flex-wrap: wrap
}
button.submit-btn.gd-bg {
    width: 420;
}
.order-confirm-area .title {
    text-align: center;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 40px;
	
}
.error-page-content {
    padding: 50px;
}
.order-cancel-area .title, .order-success-area .title {
	color: var(--main-color-one);
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
.order-cancel-area .title, .order-success-area .title {
	color: var(--main-color-one);
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
p.order-page-description {
	color: var(--main-color-one);
}
.billing-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
button.submit-btn.gd-bg.pay-now{
    width: 730px;
}
.alert-danger {
    border-left: 5px solid red;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 0;
}

.alert-warning {
    border-left: 5px solid #e4b82c;
    background-color: #f2f2f2;
	border-color: #e4b82c;
    color: #333;
    border-radius: 0;
}
.alert-success {
    border-left: 5px solid #319a31;
    background-color: #f2f2f2;
	border-color: #319a31;
    color: #333;
    border-radius: 0;
}
.alert-primary {
    border-left: 5px solid #004085;
	border-color: #004085;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 0;
}
.alert-info {
    background-color: #d1ecf1;
    border-color: #17a2b8;
    border-left: 5px solid #17a2b8;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 0;
}
button.submit-btn.w540px.gd-bg {
    width: 540px;
    border-radius: 1px;
}

.nx-popup-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    content: '';
    z-index: 1;
    height: 100%;
    transition: 300ms all;
    visibility: hidden;
    opacity: 0;
}

.nx-popup-backdrop.show {
    visibility: visible;
    opacity: 1;
}
.nx-popup-wrapper.show {
    visibility: visible;
    opacity: 1;
}
.nx-popup-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}
.only-image-modal .nx-modal-inner-content-wrapper {
    width: 700px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
}
.nx-popup-wrapper.notice-modal .nx-modal-inner-content-wrapper {
    background-image: url("../images/popup/notice-popup-mike.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}
.nx-modal-inner-content-wrapper {
    width: 700px;
    background-color: #d13a74;
    padding: 40px;
    position: relative;
    background-position: center;
    height: 400px;
}
.nx-popup-wrapper.notice-modal .nx-modal-inner-content-wrapper .nx-popup-close {
    background-color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.nx-modal-inner-content-wrapper .nx-popup-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    line-height: 20px;
    color: red;
    cursor: pointer;
}
.notice-modal .nx-modal-header .title {
    display: inline-block;
    background-color: red;
    padding: 10px 20px;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.notice-modal .nx-modal-header {
    text-align: center;
    margin-bottom: 30px;
}

.notice-modal .nx-modal-content {
    text-align: center;
}

.notice-modal .nx-modal-content p {
    color: #444;
    font-size: 18px;
    line-height: 28px;
}

.notice-modal .nx-modal-content .btn-wrapper {
    margin-top: 30px;
}

.notice-modal .nx-modal-content .btn-wrapper .btn-boxed {
    display: inline-block;
    padding: 10px 30px;
    background-color: rebeccapurple;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
    transition: 300ms all;
}

.notice-modal .nx-modal-content .btn-wrapper .btn-boxed:hover {
    background-color: beige;
    color: #fff;
}

/* notice popup */

.notice-modal-content-wrapper {
    text-align: left;
}

.notice-modal-content-wrapper .right-side-content {
    max-width: 320px;
}

.nx-popup-wrapper.notice-modal .nx-modal-content {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height: 100%
}

.notice-modal-content-wrapper .right-side-content .title {
    font-size: 50px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.notice-modal-content-wrapper .right-side-content p {
    font-size: 18px;
    line-height: 34px;
    color: rgba(255,255,255,.8);
}

/* promotional popup */
.promotional-modal-content-wrapper .left-content-warp img {
    max-width: 400px;
}

.promotional-modal-content-wrapper .left-content-warp {width: 50%;margin-right: 20px;text-align: left;}

.promotional-modal-content-wrapper {
    display: flex;
    align-self: flex-start;
}

.promotional-modal-content-wrapper .right-content-warp {
    display: flex;
    align-items: center;
}

.promotional-modal-content-wrapper .right-content-warp .title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5580ff;
}

.promotional-modal-content-wrapper .right-content-warp p {
    font-size: 18px;
    line-height: 28px;
    color: #636363;
}
.promotional-modal-content-wrapper .right-content-warp .btn-boxed {
    display: inline-block;
    border: none;
    background-color: #5580ff;
    padding: 8px 30px;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
    transition: 300ms all;
}

.promotional-modal-content-wrapper .right-content-warp .btn-boxed:hover {
    background-color: #ff8a73;
    color: #fff;
}
.nx-popup-wrapper.promotion-modal .nx-modal-inner-content-wrapper {
    padding: 30px;
}
/* discount popup */
.nx-popup-wrapper.discount-modal .nx-modal-inner-content-wrapper{
    padding: 20px;
}
.nx-popup-wrapper.discount-modal {
    padding: 30px;
}

.discount-modal-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
}

.discount-modal-content-wrapper .left-content-wrap {
    width: 400px;
    margin-right: 20px;
}

.discount-modal-content-wrapper .left-content-warp {
    width: 330px;
}

.discount-modal-content-wrapper .right-content-warp {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount-modal-content-wrapper .right-content-warp .title {
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5580ff;
}

.discount-modal-content-wrapper .right-content-warp p {
    font-size: 18px;
    line-height: 28px;
    color: #656565;
}

.discount-modal-content-wrapper .right-content-warp .btn-boxed {
    display: inline-block;
    background-color: #5580ff;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    /*padding: 8px 25px;*/
    border-radius: 5px;
    margin-top: 20px;
    transition: 300ms all;
}

.discount-modal-content-wrapper .right-content-warp .btn-boxed:hover {
    background-color: #ff8a73;
}

.discount-modal-content-wrapper #countdown {
    display: flex;
}

.discount-modal-content-wrapper .nx-singular-countdown-item {
    width: calc(100% / 4 - 10px);
    background-color: #ff8a73;
}

.discount-modal-content-wrapper .nx-singular-countdown-item + .nx-singular-countdown-item {
    margin-left: 10px;
}

.discount-modal-content-wrapper .nx-singular-countdown-item  .time {
    display: block;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    color: #fff;
    margin-bottom: 0px;
}

.discount-modal-content-wrapper .nx-singular-countdown-item {
    text-align: center;
}

.discount-modal-content-wrapper .countdown-wrapper {
    margin-top: 20px;
}
.discount-modal-content-wrapper .nx-singular-countdown-item .label   {
    display:block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 8px;
}
@media only screen and (max-width: 414px) {
    .left-content-area {
        display: none;
    }
    .navbar-area .navbar-collapse{
        left: 0;
        right: initial;
    }
    [class^="current-page-feature"] .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link, [class^="current-page-blog"] .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link, [class^="current-page-blog"] .topbar-area.black .topbar-inner, [class^="current-page-blog"] .topbar-area.black .topbar-inner .social-icons li a, [class^="current-page-feature"] .topbar-area.black .topbar-inner, [class^="current-page-feature"] .topbar-area.black .topbar-inner .social-icons li a {
        color: black;
    }
  }
@media only screen and (max-width: 768px) {
    .left-content-area {
        display: none;
    }
    .navbar-area .navbar-collapse{
        left: 0;
        right: initial;
    }
    [class^="current-page-feature"] .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link, [class^="current-page-blog"] .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link, [class^="current-page-blog"] .topbar-area.black .topbar-inner, [class^="current-page-blog"] .topbar-area.black .topbar-inner .social-icons li a, [class^="current-page-feature"] .topbar-area.black .topbar-inner, [class^="current-page-feature"] .topbar-area.black .topbar-inner .social-icons li a {
        color: black;
    }
  }
  @media only screen and (max-width: 450px){
    .user-dashboard-wrapper>ul {
        position: absolute;
        left: -275px;
        z-index: 2;
        transition: .3s all;
    }
.user-dashboard-wrapper>ul .mobile_nav {
    position: absolute;
    right: -50px;
    top: 0;
    width: 50px;
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: all .3s;
    display: block;
}
.user-dashboard-wrapper>ul {
    display: inline-block;
    width: 260px;
    background-color: #1d2228;
    padding-bottom: 5px;
    position: relative;
}
.user-dashboard-wrapper>ul.show {
    left: -20px;
}
}




@media only screen and (max-width: 991px){
.user-dashboard-card {
    margin-bottom: 30px;
}

.user-dashboard-card {
    background-color: var(--main-color-one);
    padding: 30px;
    display: flex;
    align-self: flex-start;
}

}

@media only screen and (max-width:450px) {
    a.btn.btn-sm.btn-success {
        padding: 5px;
    }
    span.alert.alert-warning.text-capitalize.alert-sm.alert-small {
        padding: 5px;
    }
    a.btn.btn-sm.btn-info {
        margin-top: 5px;
    }
	.header-area .title {
		font-size: 46px;
		line-height: 60px
	}
	.call-to-action-inner .title,
	.experience-content .content .title,
	.experience-content-02 .title,
	.experience-content-03 .title,
	.global-content .title,
	.quality-content-wrapper .title,
	.section-title .title,
	.section-title-inner .title,
	.single-testimonial-item-03 .content .title {
		font-size: 38px;
		line-height: 50px
	}
	.case-studies-slider-active .slider-img .slider-inner-text .title {
		font-size: 24px;
		line-height: 30px
	}
	.single-blog-grid-01 .content .post-meta li+li {
		margin-left: 5px
	}
	.case-studies-slider-active .owl-item.active.center {
		width: 400px!important
	}
	.header-style-04.has-top-bar .header-area {
		padding-top: 270px
	}
	.single-testimonial-item .icon {
		font-size: 55px;
		line-height: 65px;
		margin-right: 40px
	}
	.call-to-action-inner .title {
		font-size: 42px
	}
	.practice-details-content-area .content-wrap .title {
		font-size: 30px
	}
	.attorney-contact-form-wrap {
		padding: 60px 40px 45px 40px
	}
	.our-service-wrappper {
		padding-left: 15px
	}
	.single-header-bottom-item-04 {
		padding-bottom: 30px
	}
	.single-service-item .service-img.style-02 {
		display: none
	}
	.single-service-item .service-img.style-02 {
		display: block
	}
	.single-service-item .service-img.style-01 {
		display: none
	}
	.service-area-work {
		display: block
	}
	.single-service-item {
		display: block
	}
	.single-service-item .service-img {
		width: 100%
	}
	.single-service-item .service-text {
		width: 100%
	}
	.single-case-studies-item .thumb img {
		width: 100%
	}
	.single-testimonial-item-03 {
		text-align: center
	}
	.single-testimonial-item-03 .author-img {
		margin-top: 30px
	}
	.single-header-bottom-item-04 {
		text-align: center;
		margin-right: 0
	}
	.single-header-bottom-item-04 .content .title {
		max-width: inherit
	}
	.call-to-action-inner {
		text-align: center
	}
	.blog-details-item .blog-details-item-header {
		display: block
	}
	.blog-details-item .blog-details-item-header .social-link {
		margin-left: 0;
		margin-bottom: 20px
	}
	.case-studies-slider-active .slider-img .slider-inner-text {
		right: 20px
	}
	.video-play-btn {
		width: 60px;
		height: 60px;
		line-height: 60px
	}
	.accordion-wrapper .card .card-header a {
		padding-right: 50px
	}
	.nx-modal-inner-content-wrapper {
		width: calc(100% - 20px);
		height: auto;
		margin-left: 10px
	}
	.nx-popup-wrapper.notice-modal .nx-modal-inner-content-wrapper {
		background-position: right
	}
	.only-image-modal .nx-modal-inner-content-wrapper {
		width: calc(100vw - 30px);
		background-position: center;
		background-repeat: no-repeat;
		min-height: auto
	}
	.nx-popup-wrapper.discount-modal {
		overflow-y: auto
	}
	.discount-modal-content-wrapper {
		display: block
	}
	.discount-modal-content-wrapper .left-content-warp {
		width: 100%;
		margin-bottom: 30px
	}
	.promotional-modal-content-wrapper {
		display: block
	}
	.promotional-modal-content-wrapper .left-content-warp {
		margin-bottom: 30px;
		display: block
	}
	.promotional-modal-content-wrapper .title {
		font-size: 36px
	}
	.promotional-modal-content-wrapper .right-content-warp .title {
		font-size: 36px;
		line-height: 46px
	}
	.promotional-modal-content-wrapper .right-content-warp p {
		font-size: 14px;
		line-height: 28px
	}
	.user-dashboard-wrapper {
		display: block
	}
	.user-dashboard-wrapper .tab-content {
		width: 100%;
		margin-top: 55px
	}
	.top-bar-inner ul li:last-child {
		display: none
	}
	.top-bar-inner {
		padding: 15px 0
	}
	.user-dashboard-wrapper>ul {
		position: absolute;
		left: -275px;
		z-index: 2;
		transition: .3s all
	}
	.user-dashboard-wrapper {
		position: relative
	}
	.user-dashboard-wrapper>ul.show {
		left: -20px
	}
}
