/* write your own custom css, this will load at header  */

.topbar-area.black .topbar-inner .social-icons li a i::before,
.topbar-area.black .topbar-inner .left-content-area .info-items li i::before {
    color: #bf2b1c;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #bf2b1c !important;
}


.navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: #ffffff !important;
}
/*.boxed-btn.gd-bg {
    background-image: -moz-linear-gradient(180deg, #021a3e 0%, #d23a74 51%, #bf2b1c 99%);
    background-image: -webkit-linear-gradient(180deg, #021a3e 0%, #d23a74 51%, #bf2b1c 99%);
    background-image: -ms-linear-gradient(180deg, #021a3e 0%, #d23a74 51%, #bf2b1c 99%);
    color: #fff;
}*/

.boxed-btn.gd-bg, .submit-btn.gd-bg,.back-to-top {
    background-color: #bf2b1c !important;
    color: #fff;
  	background-image: unset !important;
}
.single-feature-item-01 .icon {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 25px;
     background: -webkit-linear-gradient(-25deg, #bf2b1c , #d23a74 0%, #bf2b1c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}