/* RTL Support */
html {
    direction:rtl;
}
.navbar-area .navbar-brand {
    margin-right: 0;
}
.navbar-area .navbar-brand {
    margin-right: 0;
}
.navbar-area .nav-right-content ul {
    margin-right: 20px;
    margin-left: 0;
}
.navbar-area .nav-right-content ul li:last-child {
    margin-left: 0;
}
.info-items li + li {
    margin-left: 0;
    margin-right: 20px;
}
.block-feature-item .content-block-area {
    padding-left: 0;
    padding-right: 50px;
    text-align: right;
}
.why-us-box-01 {
    text-align: right;
}
.why-us-box-01 .icon {
    margin-right: 0;
    margin-left: 20px;
}
.accordion-wrapper {
    text-align: right;
}
.accordion-wrapper .card .card-header h5 a {
    padding-right: 50px;
}
.widget.footer-widget {
    text-align: right;
}
.widget_popular_posts .single-popular-post-item .thumb {
    margin-right: 0;
    margin-left: 20px;
}
.breadcrumb-area {
    text-align: right;
}
.breadcrumb-area .page-list li {
    padding-left: 0;
    padding-right: 20px;
}
.breadcrumb-area .page-list li:after {
    left: auto;
    right: 4px;
}
.widget {
    text-align: right;
}
.single-blog-grid {
    text-align: right;
}
.single-blog-grid .content .post-meta li:after {
    right: auto;
    margin-left: 0;
    left: -10px;
}
.single-blog-grid .content .post-meta li:last-child{
    margin-right: 20px;
}
.blog-details-page .single-post-details-item .entry-content .post-meta {
    text-align: right;
}

  
.header-area .header-area-inner .btn-wrapper {
    text-align: right;
}
  .header-area .header-right-image {
    right: initial;
    left: 0;
}
.header-inner {
    text-align: right;
}
ul#pills-tab {
    text-align: right;
}
table.table.table-striped {
    text-align: right;
}   
.dashboard-form-wrapper {
    text-align: right;
}
ul.alert.alert-danger {
    text-align: right;
}
ul.alert.alert-success {
    text-align: right;
}

.header-area .header-area-inner .subtitle {
   
    color: black ;
    display: block;
   
}
.form-group.file {
    text-align: right;
}
.row.justify-content-center {
    text-align: right;
}
.alert.alert-warning.alert-block {
    text-align: right;
}
button.close {
    float: left;
}
ul#pills-tab {
    text-align: right;
    padding-right: 0;
}
.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: var(--main-color-one);
}
.topbar-area.black .topbar-inner .social-icons li a:hover {
    color: var(--main-color-one);
}
i.fas.fa-money-bill.mr-2 {
    padding-left: 50px;
}   
span.number {
    text-align: right;
}
h3.order-title {
    text-align: right;
}