
/*
--------------------------------
	Css Indexing
	----------------------------
	Table of Css Content
--------------------------------
** @typography
--------------------------------
** Global style
--------------------------------
** Breadcumb Area
-------------------------------- 
** Preloader
--------------------------------
** Normalize
--------------------------------
** Navbar Area
--------------------------------
** Header Area
--------------------------------
** Sidebar Area
--------------------------------
** Features Area
--------------------------------
** Block Feature Area
--------------------------------
** Why Choose Us Area
--------------------------------
** Testimonial Area
--------------------------------
** Instro Video Area
--------------------------------
** Pricing Plan Area
--------------------------------
** Team Area
--------------------------------
** Cotnact Area
--------------------------------
** Faq Area
--------------------------------
** Logos Area
--------------------------------
** Footer
--------------------------------


--------------------------------
** Blog Page
--------------------------------
** Blog Details Page
--------------------------------
*/

:root{
    --main-color-one: #d13a75;
    --main-color-two: #3c3954;
    --heading-color: #3c3954;
    --paragraph-color: #757575;
    --heading-font: "Poppins", sans-serif;
    --body-font:"Poppins", sans-serif;
}
/*---------------------------
** Global style
---------------------------*/
.remove-col-padding {
    padding: 0;
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.yellow-bg {
    background-color: #fb770c;
}

.blue-bg {
    background-color: #3c34cc;
}

.black-bg {
    background-color: #151b29;
}

.navbar.navbar-area.white .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.navbar-area .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.remove-col-padding-right {
    padding-right: 0;
}

.remove-col-padding-left {
    padding-left: 0;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-left: 0;
}

.gray-bg {
    background-color: #f9f9f9;
}

.section-bg {
    background-color: #f5f8fe;
}

.dark-bg {
    background-color: #0a1121;
}

.aliceblue-bg {
    background-color: #f4f9fc;
}

.white-bg {
    background-color: #fff;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-top-70 {
    padding-top: 70px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-top-90 {
    padding-top: 90px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-110 {
    padding-top: 110px;
}

.padding-top-115 {
    padding-top: 115px;
}

.padding-top-120 {
    padding-top: 120px;
}

.padding-top-130 {
    padding-top: 130px;
}

.padding-top-140 {
    padding-top: 140px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-55 {
    padding-bottom: 55px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.padding-bottom-85 {
    padding-bottom: 85px;
}

.padding-bottom-90 {
    padding-bottom: 90px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.padding-bottom-110 {
    padding-bottom: 110px;
}

.padding-bottom-115 {
    padding-bottom: 115px;
}

.padding-bottom-120 {
    padding-bottom: 120px;
}

.padding-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.padding-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.padding-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.padding-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.padding-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.padding-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-right-100 {
    padding-right: 100px;
}

.padding-left-100 {
    padding-left: 100px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-left-50 {
    padding-left: 50px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-90 {
    margin-top: 90px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-bottom-70 {
    margin-bottom: 70px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.margin-bottom-90 {
    margin-bottom: 90px;
}

.margin-top-100 {
    margin-bottom: 100px;
}

.margin-top-120 {
    margin-top: 120px;
}

.padding-left-0 {
    padding-left: 0px !important;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-left-60 {
    margin-left: 60px;
}

.margin-left-70 {
    margin-left: 70px;
}

.margin-left-80 {
    margin-left: 80px;
}

.margin-left-90 {
    margin-left: 90px;
}

.margin-left-100 {
    margin-left: 100px;
}

.f-20 {
    font-size: 20px !important;
    line-height: 30px !important;
    color: inherit !important;
}

.f-24 {
    font-size: 24px !important;
    line-height: 34px !important;
    color: inherit !important;
}

.box-shadow-90 {
    -webkit-box-shadow: 0px 0px 92px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 92px 0px rgba(0, 0, 0, 0.08);
}

.w160px {
    width: 160px;
}

.w180px {
    width: 180px;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 90px;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 58px;
    border-radius: 50%;
    z-index: 99;
    font-size: 25px;
    cursor: pointer;
    background-image: -moz-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -ms-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(209, 58, 117, 0.7);
    box-shadow: 0px 8px 16px 0px rgba(209, 58, 117, 0.7);
    display: none;
}

.back-to-top i {
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.btn-boxed {
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #282731;
    padding: 0 20px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-transform: capitalize;
}

.btn-boxed .icon {
    width: 50px;
    height: 50px;
    line-height: 55px;
    background-color: #fff;
    color:var(--heading-color);
    display: inline-block;
    border-radius: 30px;
    margin-right: -25px;
    margin-left: 20px;
    margin-top: 5px;
}

.btn-boxed:hover {
    color: #fff;
    background-color: var(--main-color-one);
}

.btn-boxed.btn-rounded {
    border-radius: 30px;
}

.btn-boxed.blank {
    background-color: transparent;
    border: 2px solid #282731;
    color: #282731;
}

.btn-boxed.blank:hover {
    background-color: var(--main-color-one);
    color: #fff;
}

.btn-boxed.gr-bg {
    background-image: -moz-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -ms-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
}

.boxed-btn {
    display: inline-block;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #282731;
    padding: 0 30px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-family: var(--heading-font);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.boxed-btn .icon {
    color:var(--heading-color);
    width: 50px;
    height: 50px;
    line-height: 55px;
    background-color: #fff;
    display: inline-block;
    border-radius: 30px;
    margin-right: -25px;
    margin-left: 20px;
    margin-top: 5px;
}

.boxed-btn:hover {
    color: #fff;
    background-color: var(--main-color-one);
}

.boxed-btn.gd-bg {
    background-image: -moz-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -ms-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    color: #fff;
}

.boxed-btn.gd-bg:hover {
    background-image: -moz-linear-gradient(180deg, #f96834 99%) 0%, #d23a74 51%, #a12299;
    background-image: -webkit-linear-gradient(180deg, #f96834 99%) 0%, #d23a74 51%, #a12299;
    background-image: -ms-linear-gradient(180deg, #f96834 99%) 0%, #d23a74 51%, #a12299;
    -webkit-box-shadow: 0px 8px 56px 0px rgba(241, 87, 19, 0.4);
    box-shadow: 0px 8px 56px 0px rgba(241, 87, 19, 0.4);
}

.boxed-btn.btn-rounded {
    border-radius: 30px;
}

.boxed-btn.blank {
    background-color: transparent;
    border: 2px solid #ced2ff;
    color:var(--heading-color);
}

.boxed-btn.blank:hover {
    background-image: -moz-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -ms-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(241, 87, 19, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(241, 87, 19, 0.2);
    color: #fff;
}

.boxed-btn.br-5 {
    border-radius: 5px;
}

.boxed-btn.reverse-color {
    color: #fff;
    background-color: var(--main-color-one);
}

.boxed-btn.reverse-color:hover {
    color: #fff;
    background-color: #282731;
}

.section-title-full-width.extra {
    margin-bottom: 13px;
}

.section-title-full-width.white .subtitle {
    color: #b8c1ce;
}

.section-title-full-width.white .title {
    color: #fff;
}

.section-title-full-width.white p {
    color: #b8c1ce;
}

.section-title-full-width.white .right-btn .boxed-btn {
    color: #fff;
}

.section-title-full-width .section-title {
    display: inline-block;
}

.section-title-full-width .right-btn {
    float: right;
    display: inline-block;
    margin-top: 17px;
}

.section-title-full-width .right-btn .boxed-btn {
    padding: 0 40px;
}

.section-title {
    margin-bottom: 55px;
}

.section-title.no-margin {
    margin-bottom: 0;
}

.section-title.left-aligned {
    text-align: left;
}

.section-title.center-aligned {
    text-align: center;
}

.section-title.right-aligned {
    text-align: right;
}

.section-title.with-p {
    margin-bottom: 46px;
}

.section-title.white .subtitle {
    color: #b8c1ce;
}

.section-title.white .title {
    color: #fff;
}

.section-title.white p {
    color: #b8c1ce;
}

.section-title .subtitle {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 600;
    color: #838a95;
    position: relative;
    padding-left: 115px;
    display: block;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.section-title .subtitle:after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 60px;
    height: 2px;
    content: '';
    -ms-transform: translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateY(-50%);
    /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    background-image: -moz-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -ms-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
}

.section-title .subtitle:before {
    position: absolute;
    left: 70px;
    top: 50%;
    width: 15px;
    height: 2px;
    content: '';
    -ms-transform: translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateY(-50%);
    /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    background-color: #e83988;
}

.section-title .title {
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 12px;
    color:var(--heading-color);
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
}

.section-title p {
    font-size: 18px;
    line-height: 28px;
}

.c-white {
    color: #fff;
}

.base-color {
    color: var(--main-color-one);
}

.submit-btn {
    height: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    background-color: var(--main-color-one);
    border: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #282731;
}

.submit-btn.btn-rounded {
    border-radius: 30px;
}

.submit-btn.btn-center {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

.submit-btn:focus {
    outline: none;
}

.section-title-inner {
    text-align: center;
    margin-bottom: 45px;
}

.section-title-inner .subtitle {
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main-color-one);
    margin-bottom: 20px;
    display: block;
}

.section-title-inner .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.form-element.margin-bottom-30 {
    margin-bottom: 27px;
}

.form-element label {
    color:var(--heading-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
}

.form-element label span {
    color: #BE1F27;
}

.form-element select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.has-icon {
    position: relative;
    display: block;
}

.has-icon.textarea .the-icon {
    top: 25px;
}

.has-icon .input-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.has-icon .the-icon {
    font-size: 14px;
    position: absolute;
    right: 30px;
    top: 50%;
    -ms-transform: translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateY(-50%);
    /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    color: #7c7c90;
}

.input-field {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    border-radius: 5px;
    color: #7c7c90;
}

.input-field::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #7c7c90;
}

.input-field:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #7c7c90;
}

.input-field::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #7c7c90;
}

.input-field:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #7c7c90;
}

.input-field.borderd {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.input-field.borderd:focus {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.input-field.textarea {
    min-height: 120px;
    padding: 20px 30px;
    resize: none;
}

.input-field.error {
    border: 2px solid var(--main-color-one);
}

.input-field.error::-webkit-input-placeholder {
    /* WebKit browsers */
    color: var(--main-color-one);
}

.input-field.error:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: var(--main-color-one);
}

.input-field.error::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: var(--main-color-one);
}

.input-field.error:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: var(--main-color-one);
}

.input-field.error:focus {
    border-color: var(--main-color-one);
}

.video-play-btn {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    border-radius: 50%;
    color: #313131;
    position: relative;
    z-index: 1;
}

.video-play-btn:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateX(-50%) translateY(-50%);
    /* Chrome, Safari, Opera */
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
    z-index: -1;
}

.video-play-btn:hover {
    color: #313131;
}

.search-popup.active .search-popup-form {
    visibility: visible;
    opacity: 1;
}

.search-popup .search-popup-form {
    min-width: 600px;
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    visibility: hidden;
    opacity: 0;
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
    z-index: 9;
}

.search-popup .search-popup-form .form-element .input-field {
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.search-popup .search-popup-form .submit-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.body-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.54);
    z-index: 9;
    content: '';
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
}

.body-overlay.active {
    visibility: visible;
    opacity: .80;
}

.table-responsive {
    display: table;
}

@-webkit-keyframes pulse-border {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
        opacity: 0;
    }
}

@-o-keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
        opacity: 0;
    }
}

@keyframes pulse-border {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
        opacity: 0;
    }
}

@media only screen and (max-width: 991px) {
    .row.reorder-xs {
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Chrome, Safari, Opera */
        transform: rotate(180deg);
        direction: rtl;
    }

    .row.reorder-xs > [class*="col-"] {
        -ms-transform: rotate(-180deg);
        /* IE 9 */
        -webkit-transform: rotate(-180deg);
        /* Chrome, Safari, Opera */
        transform: rotate(-180deg);
        direction: ltr;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
}

.switch input {
    display: none;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0faff;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0px;
    bottom: 0px;
    background-color: #282731;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider:before {
    background-color: var(--main-color-one);
}

input:checked + .slider {
    background-color: #f0faff;
}

input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #f0faff;
    box-shadow: 0 0 1px #f0faff;
}

input:checked + .slider:before {
    -ms-transform: translateX(41px);
    /* IE 9 */
    -webkit-transform: translateX(41px);
    /* Chrome, Safari, Opera */
    transform: translateX(41px);
}

/*---------------------
    Breadcumb Area
----------------------*/
.breadcrumb-area {
    padding: 280px 0 180px 0;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
}

.breadcrumb-area.extra {
    padding-bottom: 138px;
}

.breadcrumb-area .page-title {
    font-size: 46px;
    line-height: 56px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.breadcrumb-area .page-list {
    margin: 0;
    padding: 0;
}

.breadcrumb-area .page-list li {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

.breadcrumb-area .page-list li.active a {
    color: #fff;
}

.breadcrumb-area .page-list li:first-child {
    padding-left: 0;
}

.breadcrumb-area .page-list li:first-child:after {
    display: none;
}

.breadcrumb-area .page-list li:after {
    position: absolute;
    left: 5px;
    top: -1px;
    content: ">";
    font-size: 20px;
}

.breadcrumb-area .page-list li a {
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.breadcrumb-area .page-list li a:hover {
    color: #fff;
}

/*-------------------------
    Preloader Css
---------------------------*/
.pre-wrap {
    position: fixed;
    content: '';
    -webkit-transform: translate(-100%, -240%);
    -ms-transform: translate(-100%, -240%);
    transform: translate(-100%, -240%);
    font-size: 62px;
}

.preloader-inner {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.preloader-inner .cancel-preloader {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.preloader-inner .cancel-preloader a {
    background-color: var(--main-color-one);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--main-color-one);
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    display: block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #fff;
}

.preloader-inner .cancel-preloader a:hover {
    background-color: #282731;
    color: #fff;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 84px;
    height: 84px;
}

.lds-spinner div {
    -webkit-transform-origin: 32px 32px;
    -ms-transform-origin: 32px 32px;
    transform-origin: 32px 32px;
    -webkit-animation: lds-spinner 1.2s linear infinite;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: var(--main-color-one);
}

.lds-spinner div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*====================
** Normalize
====================*/
html {
    font-family: var(--heading-font);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -moz-osx-font-smoothing: grayscale;
    /* Firefox */
    -webkit-font-smoothing: antialiased;
    /* WebKit  */
}

body {
    font-family: var(--body-font);
    font-size: 16px;
    margin: 0;
    color:var(--paragraph-color);
    overflow-x: hidden;
}

h1 {
    font-size: 61px;
    line-height: 1.0833333333333333;
}

h2 {
    font-size: 45px;
    line-height: 1.4444444444444444;
}

h3 {
    font-size: 32px;
    line-height: 1.0833333333333333;
}

h4 {
    font-size: 22px;
    line-height: 1.2380952380952381;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:var(--heading-color);
    font-family: var(--heading-font);
}

p {
    font-size: 16px;
    color:var(--paragraph-color);
    line-height: 1.85;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a i {
    padding: 0 2px;
}

img {
    max-width: 100%;
}

ol {
    counter-reset: counter;
    padding-left: 0;
}

ol li {
    list-style: none;
    margin-bottom: 1rem;
}

ol li:before {
    counter-increment: counter;
    content: counter(counter);
    font-weight: 500;
    margin-right: 10px;
}

/*input and button type focus outline disable*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
}

/**
 * 5.0 - Alignments
 */
.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}

.alignfull {
    margin: 1.5em 0;
    max-width: 100%;
}

.alignwide {
    max-width: 1100px;
}

wp-block-video video {
    max-width: 636px;
}

.wp-block-image img {
    display: block;
}

.wp-block-image.alignleft,
.wp-block-image.alignright {
    width: 100%;
}

.wp-block-image.alignfull img {
    width: 100vw;
}

.wp-block-gallery:not(.components-placeholder) {
    margin: 1.5em auto;
}

.wp-block-cover-text p {
    padding: 1.5em 14px;
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
    padding: 0 14px;
}

.wp-block-table {
    display: block;
    overflow-x: auto;
}

.wp-block-table table {
    border-collapse: collapse;
    width: 100%;
}

.wp-block-table td, .wp-block-table th {
    padding: .5em;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wp-block-quote.is-large {
    margin: 0 auto 16px;
}

.wp-block-pullquote > p:first-child {
    margin-top: 0;
}

.wp-block-separator {
    margin: 3em auto;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .wp-block-cover-text p {
        padding: 1.5em 0;
    }

    .entry-content > * {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/*--------------------------------------------------------------
# Block Color Palette Colors
--------------------------------------------------------------*/
.has-strong-blue-color {
    color: #0073aa;
}

.has-strong-blue-background-color {
    background-color: #0073aa;
}

.has-lighter-blue-color {
    color: #229fd8;
}

.has-lighter-blue-background-color {
    background-color: #229fd8;
}

.has-very-light-gray-color {
    color: #eee;
}

.has-very-light-gray-background-color {
    background-color: #eee;
}

.has-very-dark-gray-color {
    color: #444;
}

.has-very-dark-gray-background-color {
    background-color: #444;
}

/*------------------------------
    Navbar Area
------------------------------*/
.dropdown:hover > .dropdown-menu {
    display: block;
}

.navbar-area {
    padding: 10px 80px;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.navbar-area.absolute {
    position: absolute;
    left: 0;
    top: 58px;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-area .navbar-brand {
    padding-top: 7px;
}

.navbar-area .navbar-brand .site-title h1 {
    line-height: 40px;
    margin-top: 10px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    color: #7f7c96;
}

.navbar-area.white .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-area.white .nav-right-content ul li {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-area.white.nav-fixed {
    background-color: #282731;
}

.navbar-area.nav-fixed {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 9999;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 0 100px;
}

.navbar-area.nav-fixed.blog-page {
    background-image: -moz-linear-gradient(0deg, #A42498 0%, #F5633A 100%);
    background-image: -webkit-linear-gradient(0deg, #A42498 0%, #F5633A 100%);
    background-image: -ms-linear-gradient(0deg, #A42498 0%, #F5633A 100%);
}

.navbar-area.nav-fixed .logo-wrapper img {
    max-width: 160px;
}

.navbar-area.nav-fixed .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: var(--main-color-one);
}

.navbar-area.nav-fixed .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: var(--main-color-one);
}

.navbar-area.nav-fixed .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    top: 100%;
}

.navbar-area .navbar-collapse {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    font-family: var(--heading-font);
}

.navbar-area .navbar-collapse .navbar-nav .nav-item {
    display: inline-block;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    padding: 15px 10px;
    position: relative;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item.mega-menu {
    position: static;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item.mega-menu.show .mega-menu-wrapper {
    visibility: visible;
    opacity: 1;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item.mega-menu:hover .mega-menu-wrapper {
    visibility: visible;
    opacity: 1;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item.mega-menu .mega-menu-wrapper {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item.mega-menu .mega-menu-wrapper .mega-menu-container {
    background-color: #fff;
    padding: 28px 30px 23px 30px;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item.mega-menu .mega-menu-wrapper .mega-menu-container .mega-menu-columns .title {
    font-size: 16px;
    font-weight: 500;
    color: #242424;
    text-transform: capitalize;
    margin-bottom: 17px;
    font-family: var(--heading-font);
}

.navbar-area .navbar-collapse .navbar-nav .nav-item.mega-menu .mega-menu-wrapper .mega-menu-container .mega-menu-columns .menga-menu-page-links li {
    line-height: 30px;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item.mega-menu .mega-menu-wrapper .mega-menu-container .mega-menu-columns .menga-menu-page-links li a {
    color: #737286;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item.mega-menu .mega-menu-wrapper .mega-menu-container .mega-menu-columns .menga-menu-page-links li a:hover {
    color: var(--main-color-one);
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:first-child {
    padding-left: 0;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu {
    padding: 0;
    border-radius: 0;
    margin: 0;
    top: 85px;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item {
    font-size: 16px;
    font-weight: 400;
    color: #6a7795;
    line-height: 40px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item:hover {
    background-color: var(--main-color-one);
    color: #fff;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    top: 85px;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show {
    padding: 0;
    border-radius: 0;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    color: #6a7795;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item:last-child {
    border-bottom: none;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item:hover {
    background-color: var(--main-color-one);
    color: #fff;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: #fff;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item.active .nav-link {
    color: #343434;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:last-child {
    padding-right: 0;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #000000;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-transform: capitalize;
    font-weight: 500;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link.pl-0 {
    padding-left: 0;
}

.navbar-area .nav-right-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 15px;
}

.navbar-area .nav-right-content ul li {
    display: inline-block;
    margin: 0 15px;
}

.navbar-area .nav-right-content ul li:last-child {
    margin-right: 0;
}

.navbar-area .nav-right-content ul li.nav-btn .boxed-btn {
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    padding: 0px 40px;
}

.navbar-area .nav-right-content ul li.nav-btn .boxed-btn:hover {
    background-image: unset;
    background-color: #fff;
    color: var(--main-color-one);
}

/*------------------------------
    Header Area
------------------------------*/
.header-area {
    position: relative;
    z-index: 0;
}

.header-area.header-bg {
    background-image: url(../img/bg/header-bg.png);
    background-size: cover;
    background-position: right center;
}

.header-area.header-bg-2 {
    background-image: url(../img/bg/header-bg-2.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.header-area.header-bg-3 {
    background-image: url(../img/bg/header-bg-3.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.header-area.header-bg-4 {
    background-image: url(../img/bg/header-bg-4.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.header-area.header-bg-6 {
    background-image: url(../img/bg/header-bg-6.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.header-area.style-06 .header-area-inner {
    padding: 332px 0 90px 0;
}

.header-area.style-06 .header-area-inner p {
    max-width: 550px;
}

.header-area.style-06 .header-right-image {
    position: absolute;
    right: 0;
    top: 36%;
}

.header-area.style-04 .header-area-inner {
    padding: 327px 0 0px 0;
}

.header-area.style-04 .header-area-inner .title {
    color: #fff;
}

.header-area.style-04 .header-area-inner .btn-wrapper .boxed-btn:hover {
    -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.header-area.style-03 .header-area-inner {
    padding: 332px 0 100px 0;
}

.header-area.style-03 .header-area-inner p {
    max-width: 600px;
}

.header-area.style-05 .header-area-inner {
    padding: 332px 0 90px 0;
}

.header-area.style-05 .header-right-image {
    position: absolute;
    right: 0;
    top: 36%;
}

.header-area.style-two .header-area-inner {
    padding: 327px 0 100px 0;
}

.header-area.style-two .header-area-inner .title {
    color: #fff;
}

.header-area.style-two .header-area-inner p {
    color: rgba(255, 255, 255, 0.8);
    max-width: 550px;
}

.header-area.style-two .header-area-inner .btn-wrapper .boxed-btn:hover {
    -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.header-area.style-two .header-right-image {
    position: absolute;
    right: 0;
    top: 14%;
}

.header-area .header-area-inner {
    position: relative;
    padding: 330px 0 100px 0;
    z-index: 3;
}

.header-area .header-area-inner .subtitle {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(-25deg, #F5633A 0%, #A42498 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    display: block;
}

.header-area .header-area-inner .title {
    font-size: 60px;
    line-height: 80px;
    font-weight: 700;
    margin-bottom: 28px;
}

.header-area .header-area-inner p {
    font-size: 20px;
    line-height: 36px;
    max-width: 680px;
}

.header-area .header-area-inner .btn-wrapper {
    margin-top: 32px;
}

.header-area .header-area-inner .btn-wrapper .boxed-btn {
    margin: 0 10px;
    text-transform: capitalize;
    font-size: 18px;
}

.header-area .header-right-image {
    position: absolute;
    right: 0;
    top: 22%;
}

/*------------------------
    Sidebar area
------------------------*/
.widget {
    background-color: #F3F7FF;
    margin-bottom: 30px;
    padding: 25px 30px 30px 30px;
}

.widget.footer-widget {
    background-color: transparent;
    padding: 0;
}

.widget.footer-widget .widget-title {
    font-size: 21px;
    line-height: 31px;
}

.widget .widget-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 20px;
}

.widget:last-child {
    margin-bottom: 0px;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget ul li {
    display: block;
    margin: 8px 0;
}

.widget ul li:first-child {
    margin-top: 0px;
}

.widget ul li:last-child {
    margin-bottom: 0px;
}

.widget ul li a {
    color:var(--paragraph-color);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.widget ul li a:hover {
    color: var(--main-color-one);
}

.about_widget .contact-info-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about_widget .contact-info-list li {
    display: block;
}

.about_widget .social-icon {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about_widget .social-icon li {
    display: inline-block;
    margin: 0 8px;
}

.about_widget .social-icon li:first-child {
    margin-left: 0;
}

.about_widget .social-icon li:last-child {
    margin-right: 0;
}

.about_widget .social-icon li a {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.about_widget .social-icon li a:hover {
    color: var(--main-color-one);
}

.footer-widget.widget_nav_menu ul li a {
    position: relative;
    padding-left: 15px;
}

.footer-widget.widget_nav_menu ul li a:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.subscribe-form form {
    position: relative;
}

.subscribe-form form .form-control {
    width: 100%;
    height: 50px;
    border: 2px solid #f2f2f2;
    background-color: transparent;
    color: #838a95;
    padding-right: 70px;
    font-size: 14px;
}

.subscribe-form form .form-control::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #838a95;
}

.subscribe-form form .form-control:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #838a95;
}

.subscribe-form form .form-control::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #838a95;
}

.subscribe-form form .form-control:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #838a95;
}

.subscribe-form form .submit-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.subscribe-form form .submit-btn:hover {
    background-color: var(--main-color-one);
    opacity: .8;
}

.widget_cgency_subscribe form {
    position: relative;
}

.widget_cgency_subscribe form .form-control {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: transparent;
    color: #fff;
    padding-right: 70px;
}

.widget_cgency_subscribe form .submit-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.widget_cgency_subscribe form .submit-btn:hover {
    background-color: var(--main-color-one);
    opacity: .8;
}

.about_widget .footer-logo {
    margin-bottom: 25px;
    display: block;
}

.about_widget .subscribe-form {
    margin-top: 25px;
}

.widget_search .search-form {
    position: relative;
}

.widget_search .search-form .form-group {
    margin-bottom: 0;
}

.widget_search .search-form .form-group .form-control {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 70px;
}

.widget_search .search-form .submit-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 50px;
}

.widget_author_meta {
    text-align: center;
}

.widget_author_meta .thumb {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.widget_author_meta .thumb img {
    border-radius: 50%;
}

.widget_author_meta .content .name {
    font-size: 21px;
    font-weight: 700;
}

.widget_author_meta .content p {
    font-size: 16px;
    line-height: 26px;
}

.widget_author_meta .content ul {
    margin-top: 25px;
}

.widget_author_meta .content ul li {
    display: inline-block;
    margin: 0 5px;
}

.widget_author_meta .content ul li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.widget_author_meta .content ul li a:hover {
    background-color: var(--main-color-one);
    color: #fff;
}
.widget_popular_posts ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.widget_popular_posts .single-popular-post-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.widget_popular_posts .single-popular-post-item:last-child .content .title {
    margin-bottom: 0;
}

.widget_popular_posts .single-popular-post-item .thumb {
    margin-right: 20px;
    max-width:100px;
}

.widget_popular_posts .single-popular-post-item .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.widget_popular_posts .single-popular-post-item +  .single-popular-post-item{
    margin-top: 20px;
}
.widget_popular_posts .single-popular-post-item .content .time {
    color: var(--main-color-one);
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 15px;
    font-weight: 500;
}

.widget_popular_posts .single-popular-post-item .content .title,
.widget_popular_posts .single-popular-post-item .content .title a{
    font-size: 16px;
    line-height: 21px;
    font-family: var(--heading-font);
    font-weight: 500;
    color: var(--heading-color);
}
.widget_popular_posts .single-popular-post-item .content .title a:hover{
    color: var(--main-color-one);
}
.widget_tag_cloud .tagcloud a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px;
    color:var(--paragraph-color);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border-radius: 5px;
}

.widget_tag_cloud .tagcloud a:hover {
    background-color: var(--main-color-one);
    color: #fff;
}

.cgency_woo_top_rated_products ul .single-top-rated-product-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-bottom: 20px;
}

.cgency_woo_top_rated_products ul .single-top-rated-product-item .thumb {
    margin-right: 20px;
    width: 80px;
    height: 80px;
}

.cgency_woo_top_rated_products ul .single-top-rated-product-item .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.cgency_woo_top_rated_products ul .single-top-rated-product-item .content .title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color:var(--heading-color);
}

.cgency_woo_top_rated_products ul .single-top-rated-product-item .content .title a {
    color:var(--heading-color);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.cgency_woo_top_rated_products ul .single-top-rated-product-item .content .title a:hover {
    color: var(--main-color-one);
}

.cgency_woo_top_rated_products ul .single-top-rated-product-item .content .ratings {
    font-size: 12px;
    color: #ffd200;
}

.cgency_woo_top_rated_products ul .single-top-rated-product-item .content .quantity {
    font-size: 14px;
}

.cgency_woo_top_rated_products ul .single-top-rated-product-item .content .quantity .amount:first-child {
    color: var(--main-color-one);
}

.cgency_woo_top_rated_products ul .single-top-rated-product-item .content .quantity .amount:last-child {
    position: relative;
}

.cgency_woo_top_rated_products ul .single-top-rated-product-item .content .quantity .amount:last-child:after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color:var(--paragraph-color);
    content: '';
    -ms-transform: translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateY(-50%);
    /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}

.service_link {
    padding: 0;
}

.service_link .widget-title {
    background-color: var(--main-color-one);
    color: #fff;
    padding: 10px 30px;
}

.service_link ul {
    padding: 0 30px 30px 30px;
}

.service_link ul li {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0 20px 0;
}

.service_link ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/*----------------------
    Features Area
----------------------*/
.single-feature-item-01 {
    background-color: white;
    -webkit-box-shadow: 0px 67px 114px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 67px 114px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
    padding: 40px 30px 30px 30px;
}

.single-feature-item-01:hover .icon {
    -ms-transform: scale(0.8);
    /* IE 9 */
    -webkit-transform: scale(0.8);
    /* Chrome, Safari, Opera */
    transform: scale(0.8);
}

.single-feature-item-01:hover .content .title {
    color: var(--main-color-one);
}

.single-feature-item-01 .icon {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 25px;
    background: -webkit-linear-gradient(-25deg, #F5633A 0%, #A42498 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-feature-item-01 .content .title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 15px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-feature-item-01 .content p {
    margin-bottom: 0;
}

.single-feature-item-02 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px 30px 30px 30px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-feature-item-02:hover {
    background-color: white;
    -webkit-box-shadow: 0px 67px 114px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 67px 114px 20px rgba(0, 0, 0, 0.08);
}

.single-feature-item-02:hover .icon {
    -ms-transform: rotateY(360deg);
    /* IE 9 */
    -webkit-transform: rotateY(360deg);
    /* Chrome, Safari, Opera */
    transform: rotateY(360deg);
}

.single-feature-item-02 .icon {
    font-size: 50px;
    background: -webkit-linear-gradient(-25deg, #F5633A 0%, #A42498 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background-color: white;
    -webkit-box-shadow: 0px 0px 73px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 73px 0px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 25px;
    position: relative;
    z-index: 0;
}

.single-feature-item-02 .content .title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 15px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-feature-item-02 .content p {
    margin-bottom: 0;
}

/*---------------------------
    Block Feature Area
---------------------------*/
.block-feature-item .content-block-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.block-feature-item .content-block-area .title {
    font-size: 45px;
    line-height: 56px;
    font-weight: 700;
}

/*----------------------------
    Why Choose Us Area
---------------------------*/
.why-chose-us.why-choose-us-bg {
    background-image: url(../img/bg/why-choose-us-bg.png);
    background-repeat: no-repeat;
}

.why-us-box-01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-right: 20px;
}

.why-us-box-01:hover .icon i {
    -ms-transform: rotateX(360deg);
    /* IE 9 */
    -webkit-transform: rotateX(360deg);
    /* Chrome, Safari, Opera */
    transform: rotateX(360deg);
}

.why-us-box-01:hover .content .title {
    color: var(--main-color-one);
}

.why-us-box-01 .icon {
    font-size: 70px;
    line-height: 80px;
    color: var(--main-color-one);
    margin-right: 20px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.why-us-box-01 .icon i {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    display: inline-block;
}

.why-us-box-01 .content .title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 12px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.why-us-box-01 .content p {
    margin-bottom: 0;
}

/*---------------------------
    Testimonial Area
----------------------------*/
.testimonial-carousel-wrapper .slider-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.testimonial-carousel-wrapper .slider-nav .single-nav-item {
    margin-top: 40px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-left: 20px;
}

.testimonial-carousel-wrapper .slider-nav .single-nav-item.slick-current .img-wrap img {
    opacity: 1;
    -ms-transform: scale(1.3);
    /* IE 9 */
    -webkit-transform: scale(1.3);
    /* Chrome, Safari, Opera */
    transform: scale(1.3);
}

.testimonial-carousel-wrapper .slider-nav .single-nav-item .img-wrap img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.testimonial-carousel-wrapper .single-testimonial-item {
    text-align: center;
}

.testimonial-carousel-wrapper .single-testimonial-item .icon {
    margin-top: 90px;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 12px;
    position: relative;
    z-index: 0;
}

.testimonial-carousel-wrapper .single-testimonial-item .icon i {
    background: -webkit-linear-gradient(-25deg, #F5633A 0%, #A42498 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.testimonial-carousel-wrapper .single-testimonial-item .icon:after {
    position: absolute;
    left: 50%;
    top: -75px;
    height: 50px;
    width: 1px;
    background-color: var(--main-color-one);
    content: '';
    -ms-transform: translateX(-50%);
    /* IE 9 */
    -webkit-transform: translateX(-50%);
    /* Chrome, Safari, Opera */
    transform: translateX(-50%);
}

.testimonial-carousel-wrapper .single-testimonial-item .description p {
    font-size: 24px;
    line-height: 40px;
    font-style: italic;
}

.testimonial-carousel-wrapper .single-testimonial-item .description .author-meta {
    margin-top: 25px;
}

.testimonial-carousel-wrapper .single-testimonial-item .description .author-meta .name {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.testimonial-carousel-wrapper .single-testimonial-item .description .author-meta .designation {
    font-size: 16px;
    line-height: 26px;
}

/*------------------------
    Intro Video Area
-------------------------*/
.intro-video-area.intro-video-bg {
    background-image: url(../img/bg/video-area-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.intro-video-inner .img-wrapper {
    position: relative;
    z-index: 0;
}

.intro-video-inner .img-wrapper img {
    -webkit-box-shadow: 0 90deg 114px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 90deg 114px 0 rgba(0, 0, 0, 0.2);
}

.intro-video-inner .img-wrapper .hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.intro-video-inner .img-wrapper .hover .video-play-btn {
    background-image: -moz-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -ms-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    color: #fff;
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 30px;
}

.intro-video-inner .img-wrapper .hover .video-play-btn:before {
    background-image: -moz-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -ms-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    width: 150px;
    height: 150px;
}

/*--------------------------
    Pricing Plan
--------------------------*/
.price-plan-area .section-title {
    margin-bottom: 125px;
}

.single-price-table-01 {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 44px 0 50px 0;
}

.single-price-table-01.active {
    -webkit-box-shadow: 0px 67px 54px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 67px 54px 0px rgba(0, 0, 0, 0.08);
    padding: 74px 0 80px 0;
    position: relative;
    top: -40px;
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Chrome, Safari, Opera */
    transform: scale(1.1);
}

.single-price-table-01 .price-header .name {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 15px;
    display: block;
    font-family: var(--heading-font);
}

.single-price-table-01 .price-header .price-wrap {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color:var(--heading-color);
}

.single-price-table-01 .price-header .price-wrap .month {
    font-size: 16px;
    line-height: 26px;
}

.single-price-table-01 .price-body {
    margin: 60px 0 54px 0;
}

.single-price-table-01 .price-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.single-price-table-01 .price-body ul li {
    margin: 17px 0;
}

/*--------------------------
    Team Member
--------------------------*/
.single-team-member-01 {
    display: inline-block;
    text-align: center;
}

.single-team-member-01:hover .thumb .hover {
    visibility: visible;
    opacity: 1;
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Chrome, Safari, Opera */
    transform: scale(1);
}

.single-team-member-01 .thumb {
    position: relative;
    z-index: 0;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 25px;
}

.single-team-member-01 .thumb img {
    border-radius: 50%;
}

.single-team-member-01 .thumb .hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: -moz-linear-gradient(180deg, rgba(161, 34, 153, 0.6) 0%, rgba(210, 58, 116, 0.6) 51%, rgba(249, 104, 52, 0.6) 99%);
    background-image: -webkit-linear-gradient(180deg, rgba(161, 34, 153, 0.6) 0%, rgba(210, 58, 116, 0.6) 51%, rgba(249, 104, 52, 0.6) 99%);
    background-image: -ms-linear-gradient(180deg, rgba(161, 34, 153, 0.6) 0%, rgba(210, 58, 116, 0.6) 51%, rgba(249, 104, 52, 0.6) 99%);
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -ms-transform: scale(0);
    /* IE 9 */
    -webkit-transform: scale(0);
    /* Chrome, Safari, Opera */
    transform: scale(0);
}

.single-team-member-01 .thumb .hover .social-icon {
    margin: 0;
    padding: 0;
    list-style: none;
}

.single-team-member-01 .thumb .hover .social-icon li {
    display: inline-block;
    margin: 0 5px;
}

.single-team-member-01 .thumb .hover .social-icon li a {
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-team-member-01 .thumb .hover .social-icon li a i {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-team-member-01 .thumb .hover .social-icon li a i:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.single-team-member-01 .thumb .hover .social-icon li a:hover {
    color: #fff;
}

.single-team-member-01 .description .name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 0px;
}

/*------------------------
    Contact Area
------------------------*/
.contact-area.contact-bg {
    background-image: url(../img/bg/contact-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 0;
}

.contact-outer-area {
    background-color: white;
    -webkit-box-shadow: 0px 67px 114px 50px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 67px 114px 50px rgba(0, 0, 0, 0.08);
    padding: 68px 0 80px 0;
    border-radius: 5px;
}

.contact-form .form-group.textarea .form-control {
    min-height: 160px;
    resize: none;
    padding: 20px 30px;
}

.contact-form .form-group .form-control {
    background-color: #f4f4fd;
    border: none;
    height: 60px;
    padding: 15px 30px;
}

.contact-form .submit-btn {
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 2px;
    background-image: -moz-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -ms-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
}

.contact-form .submit-btn:hover {
    background-image: unset;
    background-color: #282731;
}

/*-------------------------
    Faq Area
-------------------------*/
.accordion-wrapper .card {
    border: none;
    background-color: transparent;
}

.accordion-wrapper .card:last-child .card-header h5 a {
    margin-bottom: 0;
}

.accordion-wrapper .card .card-header {
    background-color: transparent;
    border: none;
    padding: 0;
}

.accordion-wrapper .card .card-header h5 a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    display: block;
    padding: 15px 30px;
    background-color: #fafafa;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
}

.accordion-wrapper .card .card-header h5 a:after {
    position: absolute;
    right: 20px;
    top: 15px;
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    color: var(--main-color-one);
}

.accordion-wrapper .card .card-header h5 a[aria-expanded="true"] {
    margin-bottom: 0;
}

.accordion-wrapper .card .card-header h5 a[aria-expanded="true"]:after {
    content: "\f068";
}

.accordion-wrapper .card .card-body {
    padding: 5px 30px 25px 30px;
    font-size: 16px;
    line-height: 26px;
    background-color: #fafafa;
    margin-bottom: 20px;
}

/*-------------------------
    Logos 
--------------------------*/
.single-logo-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 15px;
    padding: 0 15px;
}

.single-logo-item:first-child {
    margin-left: 0px;
}

.single-logo-item:last-child {
    margin-right: 0px;
}

/*-------------------------
    Footer Area
--------------------------*/
.footer-area {
    padding: 100px 0px 20px;
}

.footer-area.footer-bg {
    background-position: center;
    background-size: cover;
}

.about_widget .social-icon {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 30px;
    display: block;
}

.about_widget .social-icon li {
    display: inline-block;
    margin: 0 5px;
}

.about_widget .social-icon li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: var(--main-color-one);
}

.about_widget .social-icon li a:hover {
    background-image: -moz-linear-gradient(-83deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -webkit-linear-gradient(-83deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -ms-linear-gradient(-83deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    color: #fff;
}

/*--------------------
    Blog Page
--------------------*/
.single-blog-grid .thumb {
    margin-bottom: 25px;
}

.single-blog-grid .content .title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 20px;
}

.single-blog-grid .content .title a {
    color:var(--heading-color);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-blog-grid .content .title a:hover {
    color: var(--main-color-one);
}

.single-blog-grid .content p {
    font-size: 16px;
    line-height: 26px;
    color:var(--paragraph-color);
}

.single-blog-grid .content .readmore {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-blog-grid .content .readmore:hover {
    color: var(--main-color-one);
}

.single-blog-grid .content .post-meta {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}

.single-blog-grid .content .post-meta li {
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    color:var(--paragraph-color);
    margin: 0 15px;
    position: relative;
}

.single-blog-grid .content .post-meta li:after {
    position: absolute;
    right: -20px;
    top: 6px;
    height: 16px;
    width: 1px;
    background-color: rgba(117, 117, 117, 0.6);
    content: '';
}

.single-blog-grid .content .post-meta li:first-child {
    margin-left: 0;
}

.single-blog-grid .content .post-meta li:last-child {
    margin-right: 0;
}

.single-blog-grid .content .post-meta li:last-child:after {
    display: none;
}

.single-blog-grid .content .post-meta li a {
    color:var(--paragraph-color);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-blog-grid .content .post-meta li a:hover {
    color: var(--main-color-one);
}

.buxkit-blog-pagination {
    display: block;
    width: 100%;
}

.buxkit-blog-pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.buxkit-blog-pagination ul li {
    display: inline-block;
    margin: 0 5px;
}

.buxkit-blog-pagination ul li a:hover {
    background-color: var(--main-color-one);
    color: #fff;
}

.buxkit-blog-pagination ul li a, .buxkit-blog-pagination ul li span {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #e2e2e2;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}

.buxkit-blog-pagination ul li a.current, .buxkit-blog-pagination ul li span.current {
    background-color: var(--main-color-one);
    color: #fff;
}

.single-blog-classic-post.format-quote {
    overflow: hidden;
    background-color: #F3F7FF;
    padding: 30px;
    position: relative;
    z-index: 0;
}

.single-blog-classic-post.format-quote .icon {
    font-size: 100px;
    line-height: 100px;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: -1;
    color: rgba(0, 0, 0, 0.2);
}

.single-blog-classic-post.format-quote .quote {
    font-size: 30px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.single-blog-classic-post.format-quote .quote a {
    color: inherit;
}

.single-blog-classic-post.format-link {
    overflow: hidden;
    background-color: #F3F7FF;
    padding: 30px;
    position: relative;
    z-index: 0;
}

.single-blog-classic-post.format-link .icon {
    font-size: 100px;
    line-height: 100px;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: -1;
    color: rgba(0, 0, 0, 0.2);
}

.single-blog-classic-post.format-link .link {
    font-size: 30px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.single-blog-classic-post.format-link .link a {
    color: inherit;
}

.single-blog-classic-post.format-video .thumb {
    position: relative;
    z-index: 0;
}

.single-blog-classic-post.format-video .thumb .hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.single-blog-classic-post.format-video .thumb .hover .video-play-btn {
    color: var(--main-color-one);
}

.single-blog-classic-post .thumb {
    margin-bottom: 25px;
}

.single-blog-classic-post .content .post-meta {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}

.single-blog-classic-post .content .post-meta li {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color:var(--paragraph-color);
    margin: 0 15px;
    position: relative;
}

.single-blog-classic-post .content .post-meta li i {
    color: var(--main-color-one);
}

.single-blog-classic-post .content .post-meta li:after {
    position: absolute;
    right: -20px;
    top: 6px;
    height: 16px;
    width: 1px;
    background-color: rgba(117, 117, 117, 0.6);
    content: '';
}

.single-blog-classic-post .content .post-meta li:first-child {
    margin-left: 0;
}

.single-blog-classic-post .content .post-meta li:last-child {
    margin-right: 0;
}

.single-blog-classic-post .content .post-meta li:last-child:after {
    display: none;
}

.single-blog-classic-post .content .post-meta li a {
    color:var(--paragraph-color);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-blog-classic-post .content .post-meta li a:hover {
    color: var(--main-color-one);
}

.single-blog-classic-post .content .title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.single-blog-classic-post .content .title:hover a {
    color: var(--main-color-one);
}

.single-blog-classic-post .content .title a {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-blog-classic-post .content .readmore {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-blog-classic-post .content .readmore i {
    -ms-transform: translateX(-50px);
    /* IE 9 */
    -webkit-transform: translateX(-50px);
    /* Chrome, Safari, Opera */
    transform: translateX(-50px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-blog-classic-post .content .readmore:hover {
    color: var(--main-color-one);
}

.single-blog-classic-post .content .readmore:hover i {
    -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Chrome, Safari, Opera */
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
}

/*-------------------------
    Blog Details Page
-------------------------*/
.blog-details-page .entry-footer {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px 17px 20px;
    margin-top: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blog-details-page .entry-footer .left {
    display: inline-block;
}

.blog-details-page .entry-footer .left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blog-details-page .entry-footer .left ul li {
    display: inline-block;
    margin: 0 5px;
}

.blog-details-page .entry-footer .left ul li.title {
    font-weight: 500;
    color:var(--heading-color);
}

.blog-details-page .entry-footer .left ul li:first-child {
    margin-left: 0;
}

.blog-details-page .entry-footer .left ul li:last-child {
    margin-right: 0;
}

.blog-details-page .entry-footer .left ul li a {
    color:var(--paragraph-color);
    margin: 0 7px;
    position: relative;
    z-index: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.blog-details-page .entry-footer .left ul li a:after {
    position: absolute;
    right: -6px;
    top: 0;
    content: ',';
}

.blog-details-page .entry-footer .left ul li a:first-child {
    margin-left: 0;
}

.blog-details-page .entry-footer .left ul li a:last-child {
    margin-right: 0;
}

.blog-details-page .entry-footer .left ul li a:last-child:after {
    display: none;
}

.blog-details-page .entry-footer .left ul li a:hover {
    color: var(--main-color-one);
}

.blog-details-page .entry-footer .right {
    display: inline-block;
}

.blog-details-page .entry-footer .right ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blog-details-page .entry-footer .right ul li {
    display: inline-block;
    margin: 0 5px;
}

.blog-details-page .entry-footer .right ul li.title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color:var(--heading-color);
}

.blog-details-page .entry-footer .right ul li a {
    color:var(--paragraph-color);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.blog-details-page .entry-footer .right ul li a:hover {
    color: var(--main-color-one);
}

.blog-details-page .single-post-details-item .thumb {
    margin-bottom: 30px;
}

.blog-details-page .single-post-details-item .entry-content .title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

.blog-details-page .single-post-details-item .entry-content .gal-img {
    margin: 10px 0 15px 0;
}

.blog-details-page .single-post-details-item .entry-content .post-meta {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.blog-details-page .single-post-details-item .entry-content .post-meta li {
    margin: 0 8px;
    display: inline-block;
}

.blog-details-page .single-post-details-item .entry-content .post-meta li:first-child {
    margin-left: 0;
}

.blog-details-page .single-post-details-item .entry-content .post-meta li:last-child {
    margin-right: 0;
}

.blog-details-page .single-post-details-item .entry-content .post-meta li.cat a {
    margin: 0 5px;
    color:var(--paragraph-color);
    position: relative;
    z-index: 0;
}

.blog-details-page .single-post-details-item .entry-content .post-meta li.cat a:first-child {
    margin-left: 0;
}

.blog-details-page .single-post-details-item .entry-content .post-meta li.cat a:last-child {
    margin-right: 0;
}

.blog-details-page .single-post-details-item .entry-content .post-meta li.cat a:last-child:after {
    display: none;
}

.blog-details-page .single-post-details-item .entry-content .post-meta li.cat a:after {
    position: absolute;
    right: -5px;
    top: 0;
    content: ',';
}

.blog-details-page .single-post-details-item .entry-content .post-meta li a {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color:var(--paragraph-color);
}

.blog-details-page .single-post-details-item .entry-content .post-meta li a:hover {
    color: var(--main-color-one);
}

.blog-details-page .single-post-details-item .entry-content blockquote:not([class]) {
    background-color: #F3F7FF;
    border-left: 5px solid var(--main-color-one);
    padding: 22px 30px 24px 30px;
    font-size: 18px;
    font-style: italic;
    line-height: 28px;
    margin: 25px 0;
}

.blog-details-page .single-post-details-item .entry-content blockquote:not([class]) cite {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 20px;
}

.blog-details-page .comment-area {
    padding-top: 35px;
}

.blog-details-page .comment-area .comment-title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 25px;
}

.blog-details-page .comment-area .comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

.blog-details-page .comment-area .comment-list li {
    margin-bottom: 8px;
    list-style: none;
}

.blog-details-page .comment-area .comment-list li:last-child {
    margin-bottom: 0;
}

.blog-details-page .comment-area .comment-list li ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

.blog-details-page .comment-area .comment-list li ol li {
    margin-left: 50px;
    list-style-type: none;
    list-style: none;
}

.blog-details-page .comment-area .comment-list li .single-comment-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.blog-details-page .comment-area .comment-list li .single-comment-wrap .thumb {
    margin-right: 20px;
}

.blog-details-page .comment-area .comment-list li .single-comment-wrap .thumb img {
    margin-bottom: 10px;
    border-radius: 50%;
}

.blog-details-page .comment-area .comment-list li .single-comment-wrap .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.blog-details-page .comment-area .comment-list li .single-comment-wrap .content .date, .blog-details-page .comment-area .comment-list li .single-comment-wrap .content .time {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: var(--main-color-one);
}

.blog-details-page .comment-area .comment-list li .single-comment-wrap .content .title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: var(--heading-font);
}

.blog-details-page .comment-area .comment-list li .single-comment-wrap .content p {
    font-size: 16px;
    line-height: 26px;
}

.blog-details-page .comment-area .comment-list li .single-comment-wrap .content p:last-child {
    margin-bottom: 0;
}

.blog-details-page .comment-area .comment-list li .single-comment-wrap .content .reply {
    position: absolute;
    top: 0;
    right: 0;
    color:var(--paragraph-color);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.blog-details-page .comment-area .comment-list li .single-comment-wrap .content .reply:hover {
    color: var(--main-color-one);
}

.blog-details-page .comment-form-wrap {
    margin-top: 15px;
}

.blog-details-page .comment-form-wrap .title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 20px;
}

.blog-details-page .comment-form-wrap .comment-form .form-group.textarea .form-control {
    min-height: 160px;
    resize: none;
    padding: 10px 20px;
}

.blog-details-page .comment-form-wrap .comment-form .form-group.textarea .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.blog-details-page .comment-form-wrap .comment-form .form-group .form-control {
    height: 50px;
    line-height: 50px;
    border: none;
    background-color: #F3F7FF;
    padding: 20px;
}

.blog-details-page .comment-form-wrap .comment-form .submit-btn {
    height: 50px;
    width: 180px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 50px;
}

/*----------------------------
    Top Bar
----------------------------*/
.topbar-area {
    background-color: transparent;
    padding: 0 80px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.topbar-area .topbar-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 0;
  color: #fff;
}
.topbar-area .topbar-inner .social-icons li a{
  color: #fff;
    transition: all 300ms;
}
.info-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-items li {
  display: inline-block;
}

.info-items li + li {
  margin-left: 20px;
}

.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
}

.social-icons li + li {
  margin-left: 20px;
}

.topbar-area .topbar-inner .social-icons {
  display: inline-block;
  margin-right: 20px;
}
.topbar-area.black .topbar-inner,
.topbar-area.black .topbar-inner .social-icons li a{
  color: #222;
}
.topbar-area.black .topbar-inner .social-icons li a:hover{
    color: #fff;
}
.contact-form .submit-btn {
    display: block;
    margin: 0 auto;
}

/*[class^="current-page-blog"]*/
[class^="current-page-blog"] .navbar-area.nav-fixed .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: var(--paragraph-color);
}
[class^="current-page-feature"] .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link,
[class^="current-page-blog"] .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link,
[class^="current-page-blog"] .topbar-area.black .topbar-inner,
[class^="current-page-blog"] .topbar-area.black .topbar-inner .social-icons li a,
[class^="current-page-feature"] .topbar-area.black .topbar-inner,
[class^="current-page-feature"] .topbar-area.black .topbar-inner .social-icons li a
{
    color: rgba(255,255,255,.8);
}
[class^="current-page-feature"] .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link:hover,
[class^="current-page-blog"] .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link:hover,
[class^="current-page-blog"] .topbar-area.black .topbar-inner .social-icons li a:hover,
[class^="current-page-blog"] .topbar-area.black .topbar-inner li:hover,
[class^="current-page-feature"] .topbar-area.black .topbar-inner .social-icons li a:hover,
[class^="current-page-feature"] .topbar-area.black .topbar-inner li:hover
{
    color: #fff;
}
.error-page-content .error-area .title {
    font-size: 200px;
    line-height: 200px;
    font-weight: 600;
    color: var(--main-color-one);
    margin-bottom: 30px;
}

.error-page-content .error-area {
    text-align: center;
}

.error-page-content .error-area p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 30px;
}
.blog-details-page .single-post-details-item .entry-content .post-meta li i{
    color: var(--main-color-one);
}
.blog-details-page .entry-footer .left ul li {
    position: relative;
    z-index: 0;
}

.blog-details-page .entry-footer .left ul li+li:after {
    position: absolute;
    right: -5px;
    top: 0;
    content: ",";
}

.blog-details-page .entry-footer .left ul li:last-child:after {
    display: none;
}

.single-feature-details .thumb {
    margin-bottom: 40px;
}

.single-feature-details .content-area p{
    font-size:16px;
    line-height:26px;
}

.single-feature-details .content-area .title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
    margin-bottom: 26px;
}
.img-blog-single{
    height: 440px;
    width: 730px;
}